.footer-container {
    height: 40px;
    position: sticky;
    bottom: 0;
    background-color: #00B2CA;
    display: flex;
    justify-content: center;
}

.footer-container > div {
    font-size: 16pt;
}