.button-container > button {
    background-color: var(--main-color);
    border: 1px solid transparent;
    color: white;
    padding: 5px;
}

.button-container > button:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 5px;
    cursor: pointer;
}
