.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container:hover {
    cursor: pointer;
}

.logo-text {
    font-family: var(--main-font);
    color: black;
    font-size: 36pt;
    margin-right: 150px;
}

.logo-link:link {
    text-decoration: none;
}
