.cart-list-item-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    justify-content: space-around; 
    margin: 20px 40px;
}

.cart-list-item-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-list-item-image {
    max-width: 100px;
    padding-right: 20px;
}

.cart-list-item-name {
    width: 100%;

}

.cart-list-item-name > span {
    color: black;
}

.cart-list-item-price {
    width: 100%;
}