.gadget-list-item-container {
    height: 300px;
    width: 250px;
    /* margin: 15px; */
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.gadget-list-item-image {
    object-fit: contain;
}

.gadget-list-item-image:hover {
    cursor: pointer;
}

.gadget-list-item-details-add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gadget-list-item-details-link {
    text-decoration: none;
    color: var(--main-color);
}

.gadget-list-item-details-link:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
}