.gadget-list-container {
    overflow: auto;

}

.gadget-list-loader {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gadget-list-not-found {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24pt;
}

.gadget-list {
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}